<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Özgeçmiş</h2>

    </div>

    <div class="row">
      <div class="col-lg-6">

        <h3 class="resume-title">Deneyim</h3>
        <div class="resume-item">
          <h4>EKINOKS SOFTWARE LTD. ŞTİ.</h4>
          <h5>2019 - 2019(Stajyer)</h5>
           <p><em>Javascript, Node.js ve Postman kullanarak web scraping yaptım. Verileri JSON'a dönüştürülüp API ile local’de listeledim.</em></p>
        </div>

        <h3 class="resume-title">Eğitim</h3>
        <div class="resume-item">
          <h4>KTO Karatay Üniversitesi</h4>

          <h5>2014 - 2021</h5>
           <p><em>Bilgisayar Mühendisliği(İngilizce)</em></p>
        </div>
        <div class="resume-item">
          <h4>Erbil Koru Lisesi</h4>

          <h5>2010 - 2014</h5>
         <p><em>Sayısal</em></p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Kurslar</h3>
        <div class="resume-item">
          <h4>ÇASGEM - MİLTEK PROJESİ
            FRONT-END YAZILIM GELİŞTİRİCİ EĞİTİMİ</h4>
          <h5>2022 - 2022</h5>
          <p><em>Eğitmen: Engin Demiroğ </em></p>
          <ul>
            <li>
             HTML
            </li>
            <li>
              CSS
            </li>
            <li>
              Typescript
            </li>
            <li>
              Bootstrap
            </li>
            <li>
              Angular
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>KODLAMA.IO</h4>
          <h5>2021 - 2022</h5>
          <p><em>Yazılım Geliştirici Yetiştirme Kampı</em></p>
          <ul>
            <li>
              C#
            </li>
            <li>
              Angular
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
